<div class="card container" style="padding:15px; margin-top:1em">
  <p>Editar Usuario</p>
  <% if current_user.avatar.attached?%>
    <%= image_tag url_for(current_user.avatar), height:91%>
  <%end%>
  <%= form_with(model:current_user, local: true) do |form| %>
    <%= form.label :avatar%>
    <%= form.file_field :avatar %>

    <%= form.submit "Guardar", class:"btn btn-primary" %>

  <%end%>
</div>
